<div class="card">
  <div class="card-header">
    <%= project.name %>
  </div>
  <div class="card-body">
    <p class="card-text"><ul> <%= render project.costs %> </ul></p>
     <%= link_to 'More', project, class: 'btn btn-primary '%>
  </div>
</div>