<div class="card mb-2" style="width: 40rem;">
  <div class="card-header">
    <h5 class="card-title"><%= project.name %></h5>
  </div>
  <div class="card-body">
    <p class="card-text text-truncate"><ul> <%= render project.costs %> </ul></p>
    <div class= 'd-md-flex justify-content-md-end'>
      <%= link_to 'More', project, class: 'btn btn-primary '%>
    </div>
  </div>
</div>